{  
    "TapButton3":0,
    "TapButton1":1,
    "show_notifications":true,
    "shortcut":"<Primary><Alt>c",
    "Circula    rScrolling":true,
    "natural_scrolling":false,
    "seconds":2.0,
    "VertEdgeScroll":true,
    "HorizTwoFinger    Scroll":true,
    "disable_touchpad_on_start_indicator":false,
    "disable_on_exit":false,
    "start_hidden":false,
    "enable_on_exit":true,
    "HorizEdgeScroll":true,
    "touchpad_enabled":true,
    "version":"1.1.0-0    extras15.04.3-src",
    "on_mouse_plugged":true,
    "shortcut_enabled":false,
    "disable_on_typing":false,
    "    theme":"light",
    "first-time":false,
    "is_working":false,
    "VertTwoFingerScroll":true,
    "TapButton2":3,
    "autostart":false
}
