import XMonad.Hooks.ManageDocks
import XMonad.Layout
import XMonad
import qualified Data.Map as M
import Graphics.X11.ExtraTypes.XF86

 
main = xmonad defaultConfig
        { layoutHook = avoidStruts $ layoutHook defaultConfig,
        manageHook = manageDocks <+> manageHook defaultConfig,
        keys          = \c -> mykeys c `M.union` keys defaultConfig c,
        terminal = "gnome-terminal"
        }
    where
        mykeys (XConfig {modMask = modm}) = M.fromList $
                [ 
                 ((modm , xK_F1), spawn "/home/bb/.screenlayout/home-dell-samsung-vga.sh"),
                 ((modm , xK_F2), spawn "/home/bb/.screenlayout/dell-only-laptop-screen.sh"),
                 ((modm , xK_F3), spawn "/home/bb/.screenlayout/fractal-dell-philips.sh"),
                 --((modm , xK_F5), spawn "lxterminal -e ssh -i /home/bb/.ssh/id_rsa -X root@192.168.56.102"), -- Debian e2e
                 -- ((modm , xK_F6), spawn "lxterminal -e ssh -X bb@bs"),

                 ((modm , xK_F7), spawn "eject -t /dev/sr0"),
                 ((modm , xK_F8), spawn "eject /dev/sr0"),

                ((modm , xK_F9), spawn "~/.xmonad/scripts/touchpad-toggle.sh"),

                ((modm , xK_F11), spawn "slock"),
                ((modm , xK_F12), spawn "slock sudo pm-suspend"),

                ((0                  , xF86XK_MonBrightnessDown), spawn "xbacklight -dec 10"),
                ((0                  , xF86XK_MonBrightnessUp),   spawn "xbacklight -inc 10")
                ]
